.App {
  text-align: center;
}
.Header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: rgba(255, 247, 214, 0.65);
  color: #7d424c;
  text-shadow: 1px 1px 5px #fff;
  font-size: 60px;
  padding: 1% 0;
  margin-bottom: 5%;
}
/* write your parent styles in here for your App.js */

.Cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
